$color-main: #449f83;

:root {
  --font-family: 'Raleway', sans-serif;

  --color-grey-dark: #333;
  --color-grey-medium: #e7e7e7;
  --color-grey-light: #f8f8f8;
  --color-white: #fff;

  --color-main:  $color-main;

  --box-shadow: 0 10px 21px -3px rgba(0, 0, 0, 0.5);
}
